<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseOne">
                    Work Experience
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div style="text-align: left;">
                        <h2 class="mb-0">Web developer</h2>
                        <h3 class="tect-primary">Intership CETIC (3 months)</h3>
                        <ul>
                            <li>Learn to work in a company alone or in a group</li>
                            <li>REST API with JSON</li>
                            <li>Dashboard in angular using the d3.js library for graphics</li>
                            <li>Using Git Lab</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Education
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div style="text-align: left;">
                        <h2 class="mb-0">School</h2>
                        <ul>
                            <li>2020-2023: Bachelor in IT at HELHa in Montignies-sur-Sambre</li>
                            <li>February 2023 – May 2023: End-of-study internship at CETIC: Visualization and supervision of a data management and processing system.  (Angular)</li>
                            <li>2014 - 2020: Secondary studies at the Institut Notre-Dame de Thuin</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    Certifications
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div style="text-align: left;">
                        <h2 class="mb-0">Diploma</h2>
                        <h3 class="tect-primary">Bachelor in IT at HELHa</h3>
                        <!-- <ul>
                            <li></li>
                            
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    Skills
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="row" style="text-align: left;">
                        <div class="col">
                            <h3>Programmaing Languages:</h3>
                            <ul>
                                <li>C#</li>
                                <li>JAVA</li>
                                <li>TYPESCRIPT</li>
                                <li>C</li>
                                <li>PHP</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3>Framework:</h3>
                            <ul>
                                <li>Angular</li>
                                <li>ASPNET</li>
                                <li>SpringBoot</li>
                            </ul>
                        </div> 
                        <div class="col">
                            <h3>Other Skills:</h3>
                            <ul>
                                <li>XML, JSON</li>
                                <li>Agile Development, SCRUM</li>
                                <li>MVC Architecture</li>
                                <li>GIT</li>
                                <li>REST API</li>
                                <li>Power BI</li>
                            </ul>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>