<div class="container">
    <div class="row">
        <!-- about me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <img src="../assets/thomash.jpg" alt="Profile picture" width="256" height="256" class="rounded-circle">
                <p><br>Bonjour, je suis Thomas Haulet, un analyst/développeur junior. J'ai récemment fini un bachelier en informatique de gestion à la HELHa et j'ai acquis des connaissances en analyse, en développement, en sécurité, en réseau, en base de données et en reporting. Je suis toujours à la recherche de nouveaux défis et de me développer professionnellement.</p>
            </div>
        </div>
        <!-- ft project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured project</h2>
                <app-slider [projects]="projects"></app-slider>
            </div>
        </div>
    </div>
</div>