<div class="container">
    <div class="row">
        <!-- about me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <img src="./assets/thomasha.jpg" alt="Profile picture" width="256" height="256" class="rounded-circle">
                <p><br>Hello, I'm Thomas Haulet, a junior analyst/developer. I recently completed a bachelor's degree in management IT at HELHa and acquired knowledge in analysis, development, security, networking, databases and reporting. I am always looking for new challenges and to develop professionally.
                </p>
            </div>
        </div>
        <!-- ft project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured project</h2>
                <app-slider [projects]="projects"></app-slider>
            </div>
        </div>
    </div>
</div>